# Database
MONGODB_URI=mongodb://localhost:27017/bms646

# JWT
ACCESS_TOKEN_SECRET=your_jwt_secret_here

# SendGrid Email Service
SENDGRID_API_KEY=your_sendgrid_api_key_here
AUTH_EMAIL=your_verified_sender_email@example.com

# ClickSend SMS Service
CLICKSEND_USERNAME=your_clicksend_username
CLICKSEND_API_KEY=your_clicksend_api_key

# Supabase Storage
SUPABASE_URI=your_supabase_uri
SUPABASE_SERVICE_ROLE=your_supabase_service_role_key
